
body {
	line-height: 2;
	font-family: Arial, Helvetica, sans-serif;
	margin: 15px;
	padding: 15px;
	text-decoration: none;
	
}

.about_me{
	background-image: url("../images/texture.jpg");
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav li{
    padding: 12px;
    margin: 10px;
	text-decoration: none;
    display: inline-block;
	padding:10px;
	width:10%;
}

.active{
    background-color: lightblue;
    font-weight: bold;
    border: 3px solid navy;
}
h1{
	font-size: 30px;
	font-weight: bold;
	color: #5f5f5f;
	font-family: 'Be Vietnam Pro', sans-serif;

}

 img{
    margin: 20px;
	padding: 10px;
    border: 5px solid green;
    width: 325px;
	border-radius: 10px;
}

img:hover{
	filter: sepia();
	border:dashed;
}

.gallery{
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
}

.urbangallery{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}


.gallery .urbangallery img:hover{
    filter: grayscale();
    border: dashed;

}

footer{
	margin: 15px;
	padding: 15px;
}
.gallery .urbangallery  img:nth-child(3n){
	border: purple solid 5px;
}

.gallery .urbangallery  img:nth-child(3n):hover{
	filter: sepia();
	border: dashed;
}

img#sunset{
    animation: sunset 5s 1;
}

img{
	box-shadow: 8px 8px 8px #777777;

}

.skip{  position: absolute;
	left: -200px;
}

.skip:focus{
    position: absolute;
    left: 0;
    top: 20px;
}



@keyframes sunset {
    from {width: 10px; opacity: 0;}
    to {width: 325px; opacity: 1; }
}




@media screen and (prefers-reduced-motion: reduce){

    img#sunset{
        animation: inherit;
    }

}
